body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: #666;
    background-color: #f8f8f8;
}
li{
    list-style-image: url(E:\Learning_code_2\02.Front_end\Leanring_Html_Css\Chapter_7\images\add.gif) ;
    line-height: 1.6em;
}
table{
    border-spacing: 0px;
}
th,
td{
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}

th,
td{
    text-align: left;
    background-color: #e0e9f0;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #cbd2d8;
}

tr.head th{
    color: #fff;
    background-color: #90b4d6;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px #90b4d6;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}
td{
    text-shadow: 1px 1px 1px #ffffff;
}
tr.even